/* Background image  for the home page*/

.hero-image {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/resources/img/hero.JPG");
    height: 80vh;
    background-position: bottom ;
    background-size: cover;
    background-repeat: no-repeat;
  }